__pycache__/
.DS_Store
*.build
*.dist
*.enc
*.exe
*.gz
*.pyc
*.tgz
*.tmp
src/tests/data
src/tests/temp
venv**

!*.secret
.gitsecret/keys/random_seed
unzoner/mgmt.ovpn
unzoner/openvpn/client.key
unzoner/openvpn/server.key
unzoner/openvpn/ta.key
unzoner/openvpn/dh2048.pem
unzoner/id_rsa
unzoner/.balena/secrets/env
