.DS_Store
._*
*.tmp
*.dist
*.build
*.pyc
__pycache__/
*.exe
*.pluginc
*.enc
*.tgz
*.gz
venv**
src/plugin.py**
src/tests/data
src/tests/temp
.gitsecret/keys/random_seed
!*.secret
unzoner/.env-blackbox-plugin
unzoner/id_rsa.blackbox
unzoner/mgmt.blackbox.ovpn
unzoner/openvpn/client.blackbox.key
unzoner/openvpn/server.blackbox.key
unzoner/openvpn/ta.blackbox.key
unzoner/openvpn/dh2048.blackbox.pem
unzoner/openvpn/dh2048.blackbox.pem
unzoner/openvpn/client.blackbox.key
unzoner/openvpn/server.blackbox.key
unzoner/openvpn/ta.blackbox.key
unzoner/.balena/secrets/env
