__pycache__/
!*.secret
._*
.DS_Store
.gitsecret/keys/random_seed
*.build
*.dist
*.enc
*.exe
*.gz
*.pluginc
*.pyc
*.tgz
*.tmp
src/plugin.py**
src/tests/data
src/tests/temp
unzoner/.balena/secrets/env
unzoner/.env-blackbox-plugin
unzoner/id_rsa.blackbox
unzoner/mgmt.blackbox.ovpn
unzoner/openvpn/client.blackbox.key
unzoner/openvpn/client.blackbox.key
unzoner/openvpn/dh2048.blackbox.pem
unzoner/openvpn/dh2048.blackbox.pem
unzoner/openvpn/server.blackbox.key
unzoner/openvpn/server.blackbox.key
unzoner/openvpn/ta.blackbox.key
unzoner/openvpn/ta.blackbox.key
venv**
